<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Keycloak Nodejs</title>

    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body class="body" style="text-align: center">
    <h1>Keycloak Nodejs w3id SSO Authentication</h1>
    <h3><a href="/welcome">public page</a> (public access)</h3>
    <h3><a href="/login">private page</a> (secured access)</h3>

    <hr />
    <p>This is your public-facing page.</p>
  </body>
</html>
